//! HELPER TYPOGRAPHY


/*! ++ TYPOGRAPHY HELPER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.f-normal {
	font-weight: normal;
}

.f-bold {
	font-weight: bold;
}

.f-italic {
	font-weight: italic;
}

.t-strike {
	text-decoration: line-through;
}

.t-overline {
	text-decoration: overline;
}

.t-underline {
	text-decoration: underline;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}
