// NAME: 		_body-element.scss
// PROJECT:	RWD
// :: %%COMMENT%%

/*! BODY ELEMENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	font-size: 16px;
}
body {
	background-color: #FFF;
	font-size: 1em;
	line-height: 1.6;
	font-family: $font-body;
	color: #000;
}
