// NAME: 		_fonts.scss
// PROJECT:	RWD
// :: %%COMMENT%%

/*! GOOGLE FONTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
  font-family: 'Wisdom Script AI';
  src: url('../fonts/wisdom-script.otf');
  font-weight: normal;
}
