// NAME: 		_footer.scss
// PROJECT:	RWD
// :: %%COMMENT%%

/*! HEADER MODULE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-footer {
  padding: 0px 0 0px 0;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.site-footer .byline--fresh {
  text-transform: lowercase;
  color: #77A466;
  font-family: 'Wisdom Script AI';
}
