// NAME: 		_header.scss
// PROJECT:	RWD
// :: %%COMMENT%%

/*! HEADER MODULE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-header {
  overflow: hidden;
  padding: 20px 0 5px 0;
  text-align: center;
}
